<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test_scripts.TransactionHistory</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyTransactionDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>findTransactionsUsingCustomerIDAccountNoMobileNoAndEmailID</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifySearchPlaceholders</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyRearrangeTableColumns</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>findTransactionsUsingTransactionID</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkAdvanceSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFailedPendingTransactionsPagination</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>findTransactionsUsingRRN</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifySearchPlaceholdersForTransactionID</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyTransactionsPagination</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>findTransactionsUsingInvalidData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>consecutiveSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFailedPendingTransactions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>findTransactionsUsingInvalidTransactionData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyAdvanceSearchUI</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>findTransactionsUsingCustomerIDAndAdvanceSearchOptions</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setBrowserBeforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setBrowserBeforeMethods</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setupExtentReport</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addLogsIntoExtentReport</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>resetElementWait</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>resetPageLoadWait</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setScreenCaptureTrue</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
