<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ALL</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eed3b9">  <td>18/04/24 16:23:04</td>   <td>0</td> <td title="&gt;&gt;BaseTest.setBrowserBeforeSuite(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.TransactionHistory@124c278f]">&gt;&gt;setBrowserBeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/24 16:23:04</td>   <td>4</td> <td title="&gt;&gt;BaseTest.startToRecord()[pri:0, instance:test_scripts.TransactionHistory@124c278f]">&gt;&gt;startToRecord</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/24 16:23:04</td>   <td>130</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setBrowserBeforeTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.TransactionHistory@124c278f]">&gt;&gt;setBrowserBeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/24 16:23:04</td>   <td>133</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setBrowserBeforeClass(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.TransactionHistory@124c278f]">&gt;&gt;setBrowserBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/24 16:23:04</td>   <td>151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setBrowserBeforeMethods(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.TransactionHistory@124c278f]">&gt;&gt;setBrowserBeforeMethods</td> 
<td>&nbsp;</td>  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/24 16:23:04</td>   <td>151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setupExtentReport(java.lang.reflect.Method)[pri:0, instance:test_scripts.TransactionHistory@124c278f]">&gt;&gt;setupExtentReport</td> 
<td>&nbsp;</td>  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/04/24 16:23:04</td>   <td>155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TransactionHistory.loginTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.TransactionHistory@124c278f]">loginTest</td> 
  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/24 16:24:09</td>   <td>64921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.addLogsIntoExtentReport(org.testng.ITestResult)[pri:0, instance:test_scripts.TransactionHistory@124c278f]">&lt;&lt;addLogsIntoExtentReport</td> 
<td>&nbsp;</td>  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/24 16:24:09</td>   <td>64921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.getResult(org.testng.ITestResult)[pri:0, instance:test_scripts.TransactionHistory@124c278f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/24 16:24:09</td>   <td>64923</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.resetElementWait()[pri:0, instance:test_scripts.TransactionHistory@124c278f]">&lt;&lt;resetElementWait</td> 
<td>&nbsp;</td>  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/24 16:24:09</td>   <td>64927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.resetPageLoadWait()[pri:0, instance:test_scripts.TransactionHistory@124c278f]">&lt;&lt;resetPageLoadWait</td> 
<td>&nbsp;</td>  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/24 16:24:09</td>   <td>64928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.setScreenCaptureTrue()[pri:0, instance:test_scripts.TransactionHistory@124c278f]">&lt;&lt;setScreenCaptureTrue</td> 
<td>&nbsp;</td>  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/24 16:24:09</td>   <td>64930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setBrowserBeforeMethods(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.TransactionHistory@124c278f]">&gt;&gt;setBrowserBeforeMethods</td> 
<td>&nbsp;</td>  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/24 16:24:09</td>   <td>64930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setupExtentReport(java.lang.reflect.Method)[pri:0, instance:test_scripts.TransactionHistory@124c278f]">&gt;&gt;setupExtentReport</td> 
<td>&nbsp;</td>  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/04/24 16:24:09</td>   <td>64930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TransactionHistory.consecutiveSearch(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.TransactionHistory@124c278f]">consecutiveSearch</td> 
  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/24 16:24:24</td>   <td>79854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.addLogsIntoExtentReport(org.testng.ITestResult)[pri:0, instance:test_scripts.TransactionHistory@124c278f]">&lt;&lt;addLogsIntoExtentReport</td> 
<td>&nbsp;</td>  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/24 16:24:24</td>   <td>79856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.getResult(org.testng.ITestResult)[pri:0, instance:test_scripts.TransactionHistory@124c278f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/24 16:24:24</td>   <td>79856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.resetElementWait()[pri:0, instance:test_scripts.TransactionHistory@124c278f]">&lt;&lt;resetElementWait</td> 
<td>&nbsp;</td>  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/24 16:24:24</td>   <td>79857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.resetPageLoadWait()[pri:0, instance:test_scripts.TransactionHistory@124c278f]">&lt;&lt;resetPageLoadWait</td> 
<td>&nbsp;</td>  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/24 16:24:24</td>   <td>79857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.setScreenCaptureTrue()[pri:0, instance:test_scripts.TransactionHistory@124c278f]">&lt;&lt;setScreenCaptureTrue</td> 
<td>&nbsp;</td>  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/24 16:24:24</td>   <td>79874</td> <td title="&lt;&lt;BaseTest.closeAllBrowsers()[pri:0, instance:test_scripts.TransactionHistory@124c278f]">&lt;&lt;closeAllBrowsers</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/24 16:24:24</td>   <td>79981</td> <td title="&lt;&lt;BaseTest.endReport()[pri:0, instance:test_scripts.TransactionHistory@124c278f]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1448247698</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>18/04/24 16:24:24</td>   <td>80337</td> <td title="&lt;&lt;BaseTest.stopToRecord()[pri:0, instance:test_scripts.TransactionHistory@124c278f]">&lt;&lt;stopToRecord</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1448247698</td>   <td></td> </tr>
</table>
