<h2>Methods that were not run</h2><table>
<tr><td>test_scripts.TransactionHistory.findTransactionsUsingRRN<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Find Transactions using RRN</i></td></tr>
<tr><td>test_scripts.TransactionHistory.findTransactionsUsingInvalidData<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Find Transactions using invalid data</i></td></tr>
<tr><td>test_scripts.TransactionHistory.findTransactionsUsingCustomerIDAndAdvanceSearchOptions<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Find Transactions using Customer ID and advance search options</i></td></tr>
<tr><td>test_scripts.TransactionHistory.verifyAdvanceSearchUI<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifies the UI of the Advance Search</i></td></tr>
<tr><td>test_scripts.TransactionHistory.findTransactionsUsingInvalidTransactionData<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Find Transactions using invalid transaction data</i></td></tr>
<tr><td>test_scripts.TransactionHistory.checkAdvanceSearch<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Checks that the Advance Search option is visible/invisible</i></td></tr>
<tr><td>test_scripts.TransactionHistory.verifySearchPlaceholders<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifies the different placeholders for different search options</i></td></tr>
<tr><td>test_scripts.TransactionHistory.verifyFailedPendingTransactionsPagination<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifies Pagination for Failed/Pending Transactions tab</i></td></tr>
<tr><td>test_scripts.TransactionHistory.findTransactionsUsingCustomerIDAccountNoMobileNoAndEmailID<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Find Transactions using Customer ID, Account No, Mobile No, Email ID</i></td></tr>
<tr><td>test_scripts.TransactionHistory.verifyTransactionsPagination<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifies Pagination for Transactions tab</i></td></tr>
<tr><td>test_scripts.TransactionHistory.verifyFailedPendingTransactions<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifies the Failed/Pending Transactions tab</i></td></tr>
<tr><td>test_scripts.TransactionHistory.verifyRearrangeTableColumns<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifies the UI of the Rearrange Table Coumns</i></td></tr>
<tr><td>test_scripts.TransactionHistory.verifySearchPlaceholdersForTransactionID<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifies the different placeholders for Transaction ID search option</i></td></tr>
<tr><td>test_scripts.TransactionHistory.verifyTransactionDetails<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verfies Transaction Details after clicking on the Transaction ID Link</i></td></tr>
<tr><td>test_scripts.TransactionHistory.findTransactionsUsingTransactionID<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Find Transactions using Transaction ID</i></td></tr>
</table>