<h2>Reporter output</h2><table><tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/]</td></tr>
<tr><td><br>Enter text [[brajendra.srivastava@paytm.com]] in [UserName] on [LoginPage]</td></tr>
<tr><td><br>Enter text [[test@123]] in [Password] on [LoginPage]</td></tr>
<tr><td><br>Click [Login] on [LoginPage]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history/search]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [Cust_ID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107207471]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Assert [FullName] text equals [AJAY GORAI] on [TransactionHistoryPage]</td></tr>
<tr><td><br>Assert [CustomerID] text equals [1107207471] on [TransactionHistoryPage]</td></tr>
<tr><td><br>Assert [MobileNumber] text equals [8860765432] on [TransactionHistoryPage]</td></tr>
<tr><td><br>Assert [EmailID] text equals [dipendra.choudhary1@paytm.com] on [TransactionHistoryPage]</td></tr>
<tr><td><br>Clear text in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107223341]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Assert [FullName] text equals [RAJAT KUMAR AGGARWAL] on [TransactionHistoryPage]</td></tr>
<tr><td><br>Assert [CustomerID] text equals [1107223341] on [TransactionHistoryPage]</td></tr>
<tr><td><br>Assert [MobileNumber] text equals [9891751656] on [TransactionHistoryPage]</td></tr>
<tr><td><br>Assert [EmailID] text equals [-] on [TransactionHistoryPage]</td></tr>
</table>