<h2>Methods that were not run</h2><table>
<tr><td>test_scripts.AccountManagement.verifyDeseededAccountInfo<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify desseded account information</i></td></tr>
<tr><td>test_scripts.AccountManagement.verifyingSaindAcc_Details<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify SAIND Account Saving Accounts  Details </i></td></tr>
<tr><td>test_scripts.AccountManagement.verifyingNominee_Details<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify SAINF Account  Nominee Details </i></td></tr>
<tr><td>test_scripts.AccountManagement.verifyCardBloackHistory<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Card Block History</i></td></tr>
<tr><td>test_scripts.AccountManagement.verify_Total_Freeze_Unfreeze<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Total Freeze/Unfreeze</i></td></tr>
<tr><td>test_scripts.AccountManagement.verifyingSAINDKYCDetails<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Saind KYC  Details </i></td></tr>
<tr><td>test_scripts.AccountManagement.verify_Debit_Freeze_Unfreeze<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Debit Freeze/Unfreeze</i></td></tr>
<tr><td>test_scripts.AccountManagement.verifyPanelOpeningClosingSameAcc<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>verifyPanelOpeningClosingSameAcc</i></td></tr>
<tr><td>test_scripts.AccountManagement.verifyingRestrictBlock_Unblock<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>RestrictBlock/Unblock</i></td></tr>
<tr><td>test_scripts.AccountManagement.verify_Credit_Freeze_Unfreeze<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Credit Freeze/Unfreeze</i></td></tr>
<tr><td>test_scripts.AccountManagement.verifyingKYCDetails<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify KYC  Details </i></td></tr>
<tr><td>test_scripts.AccountManagement.verifyFixedDeposutCheck<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying all types of search</i></td></tr>
<tr><td>test_scripts.AccountManagement.verifyFixedDeposutCheck<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Fixed Deposit Check</i></td></tr>
<tr><td>test_scripts.AccountManagement.verifyingBlock_Unblock<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Block/Unblock PDC </i></td></tr>
<tr><td>test_scripts.AccountManagement.verifyBasicUserDetails<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>VerifyBasicUserDetails</i></td></tr>
<tr><td>test_scripts.AccountManagement.verifying_PredeliveryStatus<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying_PredeliveryStatus Debit Card</i></td></tr>
<tr><td>test_scripts.AccountManagement.verifyCustomerWithNoFD<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Customer with no FD</i></td></tr>
<tr><td>test_scripts.AccountManagement.veriyAllSearchErrorMessage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify all search error message</i></td></tr>
<tr><td>test_scripts.AccountManagement.verifyDigitalDebitCard<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify user has only Digital Debit Card</i></td></tr>
<tr><td>test_scripts.AccountManagement.verifyViewBalanceFD<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>verifyPanelOpeningClosingDiffAcc</i></td></tr>
</table>