<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c0a365">  <td>18/04/29 19:30:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.addLogsIntoExtentReport(org.testng.ITestResult)[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">&lt;&lt;addLogsIntoExtentReport</td> 
<td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>18/04/29 19:30:54</td>   <td>52137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.addLogsIntoExtentReport(org.testng.ITestResult)[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">&lt;&lt;addLogsIntoExtentReport</td> 
<td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>18/04/29 19:30:55</td>   <td>52317</td> <td title="&lt;&lt;BaseTest.closeAllBrowsers()[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">&lt;&lt;closeAllBrowsers</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>18/04/29 19:30:55</td>   <td>52419</td> <td title="&lt;&lt;BaseTest.endReport()[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>18/04/29 19:30:02</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.getResult(org.testng.ITestResult)[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>18/04/29 19:30:54</td>   <td>52138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.getResult(org.testng.ITestResult)[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c09f7f">  <td>18/04/29 19:28:05</td>   <td>-117159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountManagement.presenceOfElementstest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">presenceOfElementstest</td> 
  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>18/04/29 19:30:02</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.resetElementWait()[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">&lt;&lt;resetElementWait</td> 
<td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>18/04/29 19:30:55</td>   <td>52283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.resetElementWait()[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">&lt;&lt;resetElementWait</td> 
<td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>18/04/29 19:30:02</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.resetPageLoadWait()[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">&lt;&lt;resetPageLoadWait</td> 
<td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>18/04/29 19:30:55</td>   <td>52283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.resetPageLoadWait()[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">&lt;&lt;resetPageLoadWait</td> 
<td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>18/04/29 19:28:05</td>   <td>-117197</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setBrowserBeforeClass(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">&gt;&gt;setBrowserBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>18/04/29 19:28:05</td>   <td>-117174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setBrowserBeforeMethods(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">&gt;&gt;setBrowserBeforeMethods</td> 
<td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>18/04/29 19:30:02</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setBrowserBeforeMethods(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">&gt;&gt;setBrowserBeforeMethods</td> 
<td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>18/04/29 19:28:05</td>   <td>-117592</td> <td title="&gt;&gt;BaseTest.setBrowserBeforeSuite(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">&gt;&gt;setBrowserBeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>18/04/29 19:28:05</td>   <td>-117202</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setBrowserBeforeTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">&gt;&gt;setBrowserBeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>18/04/29 19:30:02</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.setScreenCaptureTrue()[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">&lt;&lt;setScreenCaptureTrue</td> 
<td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>18/04/29 19:30:55</td>   <td>52284</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.setScreenCaptureTrue()[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">&lt;&lt;setScreenCaptureTrue</td> 
<td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>18/04/29 19:28:05</td>   <td>-117174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setupExtentReport(java.lang.reflect.Method)[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">&gt;&gt;setupExtentReport</td> 
<td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>18/04/29 19:30:02</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setupExtentReport(java.lang.reflect.Method)[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">&gt;&gt;setupExtentReport</td> 
<td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>18/04/29 19:28:05</td>   <td>-117586</td> <td title="&gt;&gt;BaseTest.startToRecord()[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">&gt;&gt;startToRecord</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>18/04/29 19:30:55</td>   <td>52838</td> <td title="&lt;&lt;BaseTest.stopToRecord()[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">&lt;&lt;stopToRecord</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="c09f7f">  <td>18/04/29 19:30:02</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountManagement.verifyingSainfAcc_Details(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.AccountManagement@16e7dcfd]">verifyingSainfAcc_Details</td> 
  <td>main@2024453272</td>   <td></td> </tr>
</table>
