<h2>Reporter output</h2><table><tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Enter text [[brajendra.srivastava@paytm.com]] in [UserName] on [LoginPage]</td></tr>
<tr><td><br>Enter text [[test@123]] in [Password] on [LoginPage]</td></tr>
<tr><td><br>Click [Login] on [LoginPage]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107230423]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Assert [null] text equals [1107230423] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [5115111044] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [sachin.dwivedi@paytm.com] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [FULL NAME] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [CUSTOMER ID] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [MOBILE NUMBER] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [EMAIL ID] on [null]</td></tr>
<tr><td><br>Click [SavingsAccount_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [KYC_Details_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [DebitCard_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [Fixed_Deposit_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [5] seconds</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107230423]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Click [SavingsAccount_Tab] on [AccountManagement_Page]</td></tr>
</table>