<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="82f6ef">  <td>18/04/29 19:33:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.addLogsIntoExtentReport(org.testng.ITestResult)[pri:0, instance:test_scripts.AccountManagement@8e0379d]">&lt;&lt;addLogsIntoExtentReport</td> 
<td>&nbsp;</td>  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/04/29 19:34:17</td>   <td>51876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.addLogsIntoExtentReport(org.testng.ITestResult)[pri:0, instance:test_scripts.AccountManagement@8e0379d]">&lt;&lt;addLogsIntoExtentReport</td> 
<td>&nbsp;</td>  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/04/29 19:34:18</td>   <td>52129</td> <td title="&lt;&lt;BaseTest.closeAllBrowsers()[pri:0, instance:test_scripts.AccountManagement@8e0379d]">&lt;&lt;closeAllBrowsers</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/04/29 19:34:18</td>   <td>52211</td> <td title="&lt;&lt;BaseTest.endReport()[pri:0, instance:test_scripts.AccountManagement@8e0379d]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/04/29 19:33:25</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.getResult(org.testng.ITestResult)[pri:0, instance:test_scripts.AccountManagement@8e0379d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/04/29 19:34:17</td>   <td>51876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.getResult(org.testng.ITestResult)[pri:0, instance:test_scripts.AccountManagement@8e0379d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>18/04/29 19:31:39</td>   <td>-106295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountManagement.presenceOfElementstest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.AccountManagement@8e0379d]">presenceOfElementstest</td> 
  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/04/29 19:33:25</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.resetElementWait()[pri:0, instance:test_scripts.AccountManagement@8e0379d]">&lt;&lt;resetElementWait</td> 
<td>&nbsp;</td>  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/04/29 19:34:18</td>   <td>52027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.resetElementWait()[pri:0, instance:test_scripts.AccountManagement@8e0379d]">&lt;&lt;resetElementWait</td> 
<td>&nbsp;</td>  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/04/29 19:33:25</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.resetPageLoadWait()[pri:0, instance:test_scripts.AccountManagement@8e0379d]">&lt;&lt;resetPageLoadWait</td> 
<td>&nbsp;</td>  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/04/29 19:34:18</td>   <td>52027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.resetPageLoadWait()[pri:0, instance:test_scripts.AccountManagement@8e0379d]">&lt;&lt;resetPageLoadWait</td> 
<td>&nbsp;</td>  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/04/29 19:31:39</td>   <td>-106335</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setBrowserBeforeClass(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.AccountManagement@8e0379d]">&gt;&gt;setBrowserBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/04/29 19:31:39</td>   <td>-106297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setBrowserBeforeMethods(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.AccountManagement@8e0379d]">&gt;&gt;setBrowserBeforeMethods</td> 
<td>&nbsp;</td>  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/04/29 19:33:26</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setBrowserBeforeMethods(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.AccountManagement@8e0379d]">&gt;&gt;setBrowserBeforeMethods</td> 
<td>&nbsp;</td>  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/04/29 19:31:39</td>   <td>-106920</td> <td title="&gt;&gt;BaseTest.setBrowserBeforeSuite(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.AccountManagement@8e0379d]">&gt;&gt;setBrowserBeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/04/29 19:31:39</td>   <td>-106340</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setBrowserBeforeTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.AccountManagement@8e0379d]">&gt;&gt;setBrowserBeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/04/29 19:33:25</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.setScreenCaptureTrue()[pri:0, instance:test_scripts.AccountManagement@8e0379d]">&lt;&lt;setScreenCaptureTrue</td> 
<td>&nbsp;</td>  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/04/29 19:34:18</td>   <td>52027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.setScreenCaptureTrue()[pri:0, instance:test_scripts.AccountManagement@8e0379d]">&lt;&lt;setScreenCaptureTrue</td> 
<td>&nbsp;</td>  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/04/29 19:31:39</td>   <td>-106297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setupExtentReport(java.lang.reflect.Method)[pri:0, instance:test_scripts.AccountManagement@8e0379d]">&gt;&gt;setupExtentReport</td> 
<td>&nbsp;</td>  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/04/29 19:33:26</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setupExtentReport(java.lang.reflect.Method)[pri:0, instance:test_scripts.AccountManagement@8e0379d]">&gt;&gt;setupExtentReport</td> 
<td>&nbsp;</td>  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/04/29 19:31:39</td>   <td>-106914</td> <td title="&gt;&gt;BaseTest.startToRecord()[pri:0, instance:test_scripts.AccountManagement@8e0379d]">&gt;&gt;startToRecord</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/04/29 19:34:18</td>   <td>52553</td> <td title="&lt;&lt;BaseTest.stopToRecord()[pri:0, instance:test_scripts.AccountManagement@8e0379d]">&lt;&lt;stopToRecord</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@398690014</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>18/04/29 19:33:26</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountManagement.verifyingSainfAcc_Details(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.AccountManagement@8e0379d]">verifyingSainfAcc_Details</td> 
  <td>main@398690014</td>   <td></td> </tr>
</table>
