<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test_scripts.AccountManagement</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_Total_Freeze_Unfreeze</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFixedDeposutCheck</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Debit_Freeze_Unfreeze</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyPanelOpeningClosingSameAcc</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFixedDeposutCheck</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>presenceOfElementstest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyingBlock_Unblock</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Credit_Freeze_Unfreeze</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyDeseededAccountInfo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyingSAINDKYCDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyingKYCDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifying_PredeliveryStatus</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyingSainfAcc_Details</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyDigitalDebitCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyBasicUserDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyingSaindAcc_Details</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyViewBalanceFD</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyCardBloackHistory</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyingNominee_Details</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyingRestrictBlock_Unblock</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyCustomerWithNoFD</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>veriyAllSearchErrorMessage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setBrowserBeforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setBrowserBeforeMethods</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setupExtentReport</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addLogsIntoExtentReport</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>resetElementWait</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>resetPageLoadWait</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setScreenCaptureTrue</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
