<h2>Reporter output</h2><table><tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Enter text [[brajendra.srivastava@paytm.com]] in [UserName] on [LoginPage]</td></tr>
<tr><td><br>Enter text [[test@123]] in [Password] on [LoginPage]</td></tr>
<tr><td><br>Click [Login] on [LoginPage]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107230423]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Assert [null] text equals [1107230423] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [5115111044] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [sachin.dwivedi@paytm.com] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [FULL NAME] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [CUSTOMER ID] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [MOBILE NUMBER] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [EMAIL ID] on [null]</td></tr>
<tr><td><br>Click [SavingsAccount_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [KYC_Details_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [DebitCard_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [Fixed_Deposit_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [5] seconds</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107223341]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Click [More_Details] on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [null] text equals [Male] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [18/04/1993] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [-] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [India] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [-] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [-] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [PL******8V] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107223341]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Click [DebitCard_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [View_Block_History] on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [CardBlockHistTable] is present on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [null] contains text [Card Block History] on [null]</td></tr>
<tr><td><br>Click [PaginationBackward] on [CommonPage]</td></tr>
<tr><td><br>Pause for [5] seconds</td></tr>
<tr><td><br>Assert [null] contains text [Card Block History] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107228411]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Click [Fixed_Deposit_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [5] seconds</td></tr>
<tr><td><br>Assert [NoFD] is present on [AccountManagement_Page]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107210137]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Click [SavingsAccount_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107230423]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Click [DebitCard_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [VDC_Details] is not present on [AccountManagement_Page]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107223341]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Click [Fixed_Deposit_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [5] seconds</td></tr>
<tr><td><br>Assert [FD_NO] text equals [FD NO.] on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [null] text equals [BOOKING TRANSACTION ID] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [BOOKING DATE & TIME] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [EFFECTIVE OPENING DATE] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [TENURE] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [INTEREST] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [AMOUNT] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [STATUS] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [AccountNumber_Text] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[915115111044]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Assert [null] text equals [1107230423] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [5115111044] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [sachin.dwivedi@paytm.com] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [FULL NAME] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [CUSTOMER ID] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [MOBILE NUMBER] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [EMAIL ID] on [null]</td></tr>
<tr><td><br>Click [SavingsAccount_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [KYC_Details_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [DebitCard_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [Fixed_Deposit_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [5] seconds</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [MobileNumber] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[5115111044]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Assert [null] text equals [1107230423] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [5115111044] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [sachin.dwivedi@paytm.com] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [FULL NAME] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [CUSTOMER ID] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [MOBILE NUMBER] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [EMAIL ID] on [null]</td></tr>
<tr><td><br>Click [SavingsAccount_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [KYC_Details_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [DebitCard_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [Fixed_Deposit_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [5] seconds</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [EmailID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[sachin.dwivedi@paytm.com]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Assert [null] text equals [1107230423] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [5115111044] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [sachin.dwivedi@paytm.com] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [FULL NAME] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [CUSTOMER ID] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [MOBILE NUMBER] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [EMAIL ID] on [null]</td></tr>
<tr><td><br>Click [SavingsAccount_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [KYC_Details_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [DebitCard_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [Fixed_Deposit_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [5] seconds</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107230423]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Assert [null] text equals [1107230423] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [5115111044] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [sachin.dwivedi@paytm.com] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [FULL NAME] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [CUSTOMER ID] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [MOBILE NUMBER] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [EMAIL ID] on [null]</td></tr>
<tr><td><br>Click [SavingsAccount_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [KYC_Details_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [DebitCard_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [Fixed_Deposit_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [5] seconds</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107228411]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Pause for [8] seconds</td></tr>
<tr><td><br>Click [DebitCard_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [3] seconds</td></tr>
<tr><td><br>Click [More_Details] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [3] seconds</td></tr>
<tr><td><br>Click [SavingsAccount_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [3] seconds</td></tr>
<tr><td><br>Click [Fixed_Deposit_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [5] seconds</td></tr>
<tr><td><br>Pause for [3] seconds</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107228411]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Assert [AccountInfoHeader] is not present on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [VDC_Details] is not present on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [PDC_Details] is not present on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [KYC_STATUS] is not present on [AccountManagement_Page]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107228411]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Pause for [5] seconds</td></tr>
<tr><td><br>Click [DebitCard_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [3] seconds</td></tr>
<tr><td><br>Click [More_Details] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [3] seconds</td></tr>
<tr><td><br>Click [SavingsAccount_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [3] seconds</td></tr>
<tr><td><br>Click [Fixed_Deposit_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [5] seconds</td></tr>
<tr><td><br>Pause for [3] seconds</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107235672]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Click [SavingsAccount_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [null] text equals [ACTIVE] on [null]</td></tr>
<tr><td><br>Click [Action_Link] on [AccountManagement_Page]</td></tr>
<tr><td><br>Enter text [[Length of this sentence is 150 characters.Length of this sentence is 150 characters.
Length of this sentence is 150 characters.Length of this sentence]] in [Comment_Box] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [5] seconds</td></tr>
<tr><td><br>Click [Action_Submit] on [AccountManagement_Page]</td></tr>
<tr><td><br>Wait until [Loader] is visible on [AccountManagement_Page]</td></tr>
<tr><td><br>Wait until [Loader] is not visible on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [SavingsAccount_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [null] text equals [CREDIT_FREEZED] on [null]</td></tr>
<tr><td><br>Click [Action_Link] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [5] seconds</td></tr>
<tr><td><br>Click [Actions_DropDown] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [Action_List_Totalunfreeze] on [AccountManagement_Page]</td></tr>
<tr><td><br>Enter text [[Length of this sentence is 150 characters.Length of this sentence is 150 characters.
Length of this sentence is 150 characters.Length of this sentence]] in [Comment_Box] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [5] seconds</td></tr>
<tr><td><br>Click [Action_Submit] on [AccountManagement_Page]</td></tr>
<tr><td><br>Wait until [Loader] is visible on [AccountManagement_Page]</td></tr>
<tr><td><br>Wait until [Loader] is not visible on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [SavingsAccount_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [null] text equals [ACTIVE] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107235672]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Click [SavingsAccount_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [null] text equals [ACTIVE] on [null]</td></tr>
<tr><td><br>Click [Action_Link] on [AccountManagement_Page]</td></tr>
<tr><td><br>Enter text [[Length of this sentence is 150 characters.Length of this sentence is 150 characters.
Length of this sentence is 150 characters.Length of this sentence]] in [Comment_Box] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [5] seconds</td></tr>
<tr><td><br>Click [Actions_DropDown] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [Action_List_DebitFreeze] on [AccountManagement_Page]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107235672]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Click [SavingsAccount_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [null] text equals [ACTIVE] on [null]</td></tr>
<tr><td><br>Click [Action_Link] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [5] seconds</td></tr>
<tr><td><br>Click [Actions_DropDown] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [Action_List_TotalFreeze] on [AccountManagement_Page]</td></tr>
<tr><td><br>Enter text [[Length of this sentence is 150 characters.Length of this sentence is 150 characters.
Length of this sentence is 150 characters.Length of this sentence]] in [Comment_Box] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [5] seconds</td></tr>
<tr><td><br>Click [Action_Submit] on [AccountManagement_Page]</td></tr>
<tr><td><br>Wait until [Loader] is visible on [AccountManagement_Page]</td></tr>
<tr><td><br>Wait until [Loader] is not visible on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [SavingsAccount_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [null] text equals [TOTAL_FREEZED] on [null]</td></tr>
<tr><td><br>Click [Action_Link] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [5] seconds</td></tr>
<tr><td><br>Click [Actions_DropDown] on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [Action_List_Totalunfreeze] on [AccountManagement_Page]</td></tr>
<tr><td><br>Enter text [[Length of this sentence is 150 characters.Length of this sentence is 150 characters.
Length of this sentence is 150 characters.Length of this sentence]] in [Comment_Box] on [AccountManagement_Page]</td></tr>
<tr><td><br>Pause for [5] seconds</td></tr>
<tr><td><br>Click [Action_Submit] on [AccountManagement_Page]</td></tr>
<tr><td><br>Wait until [Loader] is visible on [AccountManagement_Page]</td></tr>
<tr><td><br>Wait until [Loader] is not visible on [AccountManagement_Page]</td></tr>
<tr><td><br>Click [SavingsAccount_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [null] text equals [ACTIVE] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107228411]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Click [DebitCard_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [null] text equals [6080-32XX-XXXX-3190] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [PY00000000004477] on [null]</td></tr>
<tr><td><br>Assert [null] contains text [NORMAL] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107230423]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Click [KYC_Details_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [null] text equals [Done] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [Biometric] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [Yes] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [No] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [Not Applicable] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [No] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [Not Applicable] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [Yes] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107230423]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Click [SavingsAccount_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [null] text equals [hi tank] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [57fead24-f039-485a-8877-e749ef9677e3] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [OTHER] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [xyz@abc.com] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [26/02/1990] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [-] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [100] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [panel1234 Panle streeet panel area nd delhi] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107228411]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Click [DebitCard_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [null] text equals [6080-32XX-XXXX-3190] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [PY00000000004477] on [null]</td></tr>
<tr><td><br>Assert [null] contains text [NORMAL] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107234535]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Click [KYC_Details_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [null] text equals [Done] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [Manual] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [Under Review] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [Yes] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [Yes] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [Yes] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [No] on [null]</td></tr>
<tr><td><br>Assert [null] text equals [No] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107230423]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Click [SavingsAccount_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107230423]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Click [SavingsAccount_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107228797]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Click [DebitCard_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [null] text equals [FIS Sent] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1107228411]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Click [DebitCard_Tab] on [AccountManagement_Page]</td></tr>
<tr><td><br>Assert [null] text equals [MCT Received] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1212]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Assert [null] text equals [User Not found] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Assert [null] text equals [Enter Customer ID] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [CustomerID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[asa]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Assert [null] text equals [Incorrect Customer ID entered. Please re-enter] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [AccountNumber_Text] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1212]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Assert [null] text equals [Account details not found] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [AccountNumber_Text] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Assert [null] text equals [Enter Account Number] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [AccountNumber_Text] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[asa]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Assert [null] text equals [Incorrect Account Number entered.] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [MobileNumber] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1212]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Assert [null] text equals [Incorrect Mobile Number entered. Should be of 10 digits] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [MobileNumber] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Assert [null] text equals [Enter Mobile Number] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [MobileNumber] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[9999999999]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Assert [null] text equals [Account details not found] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [EmailID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[1212]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Assert [null] text equals [Incorrect Email address entered. Please re-enter] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [EmailID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Assert [null] text equals [Enter Email ID] on [null]</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/transaction-history]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Launch URL [https://dashboard-ite.paytmbank.com/account-management]</td></tr>
<tr><td><br>Refresh [CommonPage]</td></tr>
<tr><td><br>Wait until [CommonPage] loads</td></tr>
<tr><td><br>Wait until [ACMAN_Placeholder] is visible on [CommonPage]</td></tr>
<tr><td><br>Click [DropDown] on [CommonPage]</td></tr>
<tr><td><br>Click [EmailID] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[sachin.dwivedi@gmail.com]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Enter text [[]] in [SearchBar] on [CommonPage]</td></tr>
<tr><td><br>Assert [null] text equals [User Not found] on [null]</td></tr>
</table>