<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="756ead">  <td>18/03/30 10:47:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.addLogsIntoExtentReport(org.testng.ITestResult)[pri:0, instance:test_scripts.LoginTest@6eebc39e]">&lt;&lt;addLogsIntoExtentReport</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>18/03/30 10:47:16</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.getResult(org.testng.ITestResult)[pri:0, instance:test_scripts.LoginTest@6eebc39e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>18/03/30 10:47:07</td>   <td>-8600</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test_scripts.LoginTest@6eebc39e]">loginTest</td> 
  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>18/03/30 10:47:07</td>   <td>-8643</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setBrowserBeforeClass(java.lang.String, java.lang.String, java.lang.Boolean)[pri:0, instance:test_scripts.LoginTest@6eebc39e]">&gt;&gt;setBrowserBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>18/03/30 10:47:07</td>   <td>-8603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setBrowserBeforeMethods(java.lang.String, java.lang.String, java.lang.Boolean)[pri:0, instance:test_scripts.LoginTest@6eebc39e]">&gt;&gt;setBrowserBeforeMethods</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>18/03/30 10:47:07</td>   <td>-8977</td> <td title="&gt;&gt;BaseTest.setBrowserBeforeSuite(java.lang.String, java.lang.String, java.lang.Boolean)[pri:0, instance:test_scripts.LoginTest@6eebc39e]">&gt;&gt;setBrowserBeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>18/03/30 10:47:07</td>   <td>-8645</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setBrowserBeforeTest(java.lang.String, java.lang.String, java.lang.Boolean)[pri:0, instance:test_scripts.LoginTest@6eebc39e]">&gt;&gt;setBrowserBeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>18/03/30 10:47:07</td>   <td>-8603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setupExtentReport(java.lang.reflect.Method)[pri:0, instance:test_scripts.LoginTest@6eebc39e]">&gt;&gt;setupExtentReport</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
</table>
